@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background: black;
}

header{
    
    height: 14vh;
    padding-inline: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-active{
    
    background: rgba(0, 0, 0, 0.162);
    backdrop-filter: blur(30px);
}

.navbar{
    width: 80%;
    height: 100%;
    
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: antiquewhite;
    font-size: .95rem;
    padding: 4px 8px;        
    display: inline-block;   
    border-radius: 6px;      
    transition: all 0.3s ease; 
}

.link:hover {
    color: red;
    font-size: 1.05rem;
    background-color: rgba(0, 255, 255, 0.119);
    backdrop-filter: blur(30px);
    border-radius: 12px;  
}



a{
    text-decoration: none;
    text-transform: uppercase;
    color: #3280fd;
}

.logo{
    font-size: 2rem;
    color: white;
}

.hamburger{
    color: white;
    font-size: 1.5rem;
    display: none;
}

.mob-logo{
    color: aliceblue;
    font-size: 1.7rem;
    display: none;
}

section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}

h1{
    font-size: 4.5rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}


p{
    font-size: 1 rem;
    color: antiquewhite;
    opacity: .75;
    line-height: 1.7rem;
    margin-block: .7rem;
    max-width: 650px;
    text-align: center;
}

.hero{
    background-image: url(mountain.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    isolation: isolate;
}

.hero::before,
.tour::before{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: radial-gradient(
        transparent,
        black 75%
    );


}

.play-icon{
    font-size: 1.4rem;
    color: white;
    padding: 1.1rem 1.65rem;
    position: absolute;
    bottom: 20%;

}

h2{
    font-size: 1.9rem;
    color: white;
    font-weight: 400;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-block: 4rem ;
}


.card{
    width: 19rem;
    height: 55vh;
    position: relative;
    background-position: center;
    background-size: cover;
}

.card:nth-child(1){
    background-image: url(norway.jpg);
    
}

.card:nth-child(2){
    background-image: url(united\ states.jpg);
}

.card:nth-child(3){
    background-image: url(australia.jpg);
}

.content{
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    text-align: center;

}

h3{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    line-height: 2.5rem;
}

span{
    color: white;
    text-transform: uppercase;
}

.journal-card{
    min-height: 60vh;
    width: 28rem;
    text-align: center;

}



.image-container{
    width: 100%;
    height: 40vh;
    margin-bottom: 1.7rem;


}

img{
    width: 100%;
    height: 100%;
}

.tour{
    background-image: url(sunset.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    isolation: isolate;
}



footer{
    padding-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.footer-list{
    display: flex;
    gap: 3rem;

}

















@media screen and (max-width: 700px){
    h1{
        font-size: 2.8rem;
    }

    .navbar{
        flex-direction: column;
        gap: 3rem;
        position: absolute;
        top: 100%;
        left: -50%;
        transform: translate(-50%);
        backdrop-filter: blur(30px);
        background: rgba(0, 0, 0, 0.114);
        width: 18rem;
        height: auto;
        padding-block: 4rem;
        transition: all .5 ease-in-out;
        
    }

    .navbar-active{
        left: 50%;
    }

    .logo{
        display: none;
    }

    .hamburger,
    .mob-logo{
        display: block;
    }







}






